<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jys.smartbudget.mapper.BudgetMapper">

    <insert id="insertBudget">
        INSERT INTO budget (user_id, category, amount, month, description)
        VALUES (#{userId}, #{category}, #{amount}, #{month}, #{budgetDescription})
    </insert>

    <select id="selectBudgetsByConditionWithPaging" resultType="com.jys.smartbudget.dto.BudgetDTO">
        SELECT 
            b.id, 
            b.category, 
            b.amount, 
            b.month, 
            b.description AS budgetDescription,
            b.user_id,
            c.description AS categoryDescription
        FROM budget b
        LEFT JOIN category c ON b.category = c.code
        WHERE b.user_id = #{userId}
        <if test="category != null and category != ''">
            AND b.category = #{category}
        </if>
        <if test="month != null and month != ''">
            AND b.month = #{month}
        </if>
        ORDER BY b.month DESC
    </select>


    <update id="updateBudget">
        UPDATE budget
        SET category = #{category},
            amount = #{amount},
            month = #{month},
            description = #{budgetDescription}
        WHERE id = #{id}
          AND user_id = #{userId}
    </update>

    <delete id="deleteBudget">
        DELETE FROM budget
        WHERE id = #{id}
          AND user_id = #{userId}
    </delete>

    <select id="getBudgetUsage" resultType="com.jys.smartbudget.dto.BudgetUsageDTO">
        SELECT category, SUM(amount) AS usedAmount
        FROM budget
        WHERE user_id = #{userId}
        GROUP BY category
    </select>

</mapper>
